.container {
  margin: 30px 0;
}

.card {
  margin: 0 2% !important;
}

.infected {
  border-bottom: 10px solid rgba(240, 210, 0, 0.7);
}

.infect {
  color: rgba(240, 210, 0, 0.7) !important;
}

.recovered {
  border-bottom: 10px solid rgba(0, 230, 0, 0.7);
}

.recover{
  color: rgba(0, 230, 0, 0.7) !important;
}

.deaths {
  border-bottom: 10px solid rgba( 255, 0, 0, 0.7);
}

.dead{
  color: rgba( 255, 0, 0, 0.7) !important;
}

.activate {
  border-bottom: 10px solid rgba(100, 0, 255, 0.7);
}

.active {
  color: rgba( 100, 0, 255, 0.7) !important;
}

@media (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}