body {
  background: rgb(250, 250, 250);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 350px;
  margin-top: 30px;
}

@media (max-width: 770px){
  .container {
    margin: 0 10%;
  }

  .image{
    width: 100%;
  }
}